<tr>
<th scope="row">{{id}}</th>
      <td>{{customers.email}}</td>
      <td>${{billTotal}}</td>
      <td>
      <button class="change-devoured" data-id="{{id}}" data-cashed="{{cashed}}">
      Cash!
    </button>
      </td>
      </tr>